
body {
  background-color: #FFF8DC;
}

h1 {
    color: #800000;
    text-align: center;
    font-size: 60px;
    font-family: Impact;
  }

button {
    background-color: #800000;
    text-align: center;
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 12px;
    display: inline-block;
    margin: 45px;
    font-family: Impact;

  }

.Homebutton {
      background-color: #800000;
      text-align: center;
      padding: 15px 40px;
      font-size: 24px;
      border-radius: 12px;
      display: block;
      margin: auto;
      font-family: Impact;  
      margin-top: 45px; 
      margin-bottom: 45px;
      

  }

p {
    text-align: center;
    font-size: 40px;
    font-family: Impact;

} 

a {
  text-align: center;
  color: #FFF8DC;
  text-decoration: none;


} 

div {
  font-size: 30px;
  font-family: Impact; 
  border: 5px solid black;
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 100px;
  padding: 10px;


}


.image {
      height: 800px;
      border-radius: 25px;
      display: block;
      margin-right: auto;
      margin-left: auto;
  }

.click-img {
      margin: auto;
      display: block;
      margin-bottom: 30px;
  
  
  }  
#Facebook {
    height: 280px;
   


}  
#linkedin {
  height: 250px;
 


}  
#Daniel {
    transform: rotate(90deg);
    height: 300px;
    display: inline-block;
    margin-top: 100px;


  }  

 
#martini {
    transform: rotate(90deg);
    height: 300px;
    display: inline-block;
    margin-top: 100px; 



}  

#rooftop {
  transform: rotate(90deg);
  height: 300px;
  display: inline-block;
  margin-top: 100px; 

} 
.caption {
  font-size: 15px;

} 